{% extends "base.html" %}
{% block content %}
<div class="hero-unit">
  <h1>Tapmo.co</h1>
  <p>Bridge your worlds with NFC.</p>
  <div class="btn-group">
    <a class="btn btn-primary btn-large" href="#getting-started">Learn more</a>
    <a class="btn btn-success btn-large" href="{% url signup %}">Sign up</a>
  </div>
</div>

<div class="page-header" id="getting-started">
    <h1>Getting Started <small>with the Chrome extension</small></h1>
</div>

<div class="row">
    <div class="span12">
        <p>To get started, you'll need to create a Tapmo.co account. Details later!</p>
    </div>
</div>

<div class="page-header">
    <h1>Developers <small>integrate your own apps</small></h1>
</div>

<div class="row">
    <div class="span12">
        <p>Wait for it later.</p>
    </div>
</div>
{% endblock %}