{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>Headquarters <small>welcome back, {{ user.username }}</small></h1>
</div>

<div class="row">
<div class="span12">
    <h2>App marketplace</h2>
    <div class="row">
    <div class="span8">
        <div class="well">
            {% for market_app in market_apps %}
            <h3>{{ market_app.name }} <small>by {{ market_app.owner }}</small></h3>
            {% if market_app.registered %}
                <a href="#" class="btn btn-success">Authorized</a>
            {% else %}
                <a href="{{ market_app.url }}" class="btn btn-primary">Authorize application</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
</div>
</div>

<div class="row developers">
<div class="span12">
    <h2>Developers</h2>
    <p>Are you a developer? Set up your app below!</p>
    <div class="row">
    <div class="span6">
        <form class="well form-horizontal" action="{% url create_application %}" method="POST">
            <h3>Create a new application</h3>
            <p>Where should <strong>tapmo.co</strong> send NFC updates? All URLs should leave out the <em>http://</em>.</p>
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="name" name="name">
                    <p class="help-block">What's it called?</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="register-url">Registration URL</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">http://</span>
                        <input type="text" class="input-xlarge" id="register-url" name="register-url">
                    </div>
                    <p class="help-block">URL to authorize your servivce, tapmo.co will substitute <code>%s</code> with their usernames.</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="check-register-url">Check registration URL</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">http://</span>
                        <input type="text" class="input-xlarge" id="check-register-url" name="check-register-url">
                    </div>
                    <p class="help-block">URL to check if a user is registered, tapmo.co will substitute <code>%s</code> with their usernames.</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="update-url">Update URL</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">http://</span>
                        <input type="text" class="input-xlarge" id="update-url" name="update-url">
                    </div>
                    <p class="help-block">
                        URL to send updates to, tapmo.co will substitute <code>%s</code> with their usernames. A POST request will be sent with parameters
<pre>
{
    'loc': lat,lng,
    'status': 1|0
}
</pre>
                        where <code>loc</code> is the coordinate of the status update and <code>status</code> is a <code>1</code> if the user is at the computer and a <code>0</code> otherwise.
                    </p>
                </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary">Create application</button>
              </div>
            </div>
        </form>
    </div>
    <div class="span6">
        <h3>Your applications</h3>
        {% for application in applications %}
        <div class="well">
            <h4>{{ application.name }}</h4>
            <dl>
                <dt>register URL</dt>
                <dd><pre>{{ application.reg_url }}</pre></dd>
                <dt>check URL</dt>
                <dd><pre>{{ application.check_reg_url }}</pre></dd>
                <dt>update URL</dt>
                <dd><pre>{{ application.update_url }}</pre></dd>
                <dt>secret</dt>
                <dd><pre>{{ application.secret }}</pre></dd>
            </dl>
            <form class="inline-form" action="{% url delete_application %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ application.id }}">
                <button type="submit" class="btn btn-danger">Delete application</button>
            </form>
        </div>
        {% empty %}
        <p class="well">No applications yet.</p>
        {% endfor %}
    </div>
    </div>
</div>
</div>
{% endblock %}